@import './drumPad-style.scss';

#drum-machine-setting-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 290px;

    #power-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        .switch-btn {
            height: 25px;
            width: 50px;
            background-color: black;
            padding: 0 2.5px;
            display: flex;
            align-items: center;
            .switch {
                height: 20px;
                width: 20px;
                background-color: blue;
            }
        }
    }

    #sound-name-box {
        height: 50px;
        width: 200px;
        background-color: $drumPadBgColor;
        display: flex;
        justify-content: center;
        align-items: center;

        #sound-name {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    }

    #volume-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        #volume-header {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
        }

        #volume-control-box {
            display: flex;
            align-items: center;
        }
    }
}

.btn-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.switched-on {
    margin-left: auto;
}